<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="row">
          <div class="col-8 offset-2 p-2">
            <button class="btn btn-sm btn-primary" @click="showContainer = !showContainer">Aç / Kapat</button>
            <h1 v-if="!showContainer" class="text-danger">BAŞLANGIÇTA GÖZÜKECEK</h1>
            <h1 v-else class="text-primary">SONRA GÖZÜKECEK</h1>
            <hr />

            <h3 :class="counterBoxClass">{{ counter }}</h3>
            <button class="btn btn-sm btn-success" @click="counter++">Artır</button>
            <button class="btn btn-sm btn-danger" @click="counter--">Azalt</button>
            <p v-if="counter < 0">Counter Negatif</p>
            <p v-else-if="counter > 0">Counter Pozitif</p>
            <p v-else>Counter 0</p>

            <hr />

            <p v-show="counter < 0">Counter Negatif</p>
            <p v-show="counter > 0">Counter Pozitif</p>
            <p v-show="counter === 0">Counter 0</p>
          </div>
        </div>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
