* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #dedede;
}

.border {
  border: 3px dashed #666;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}
